-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sitante
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `sitante`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `sitante` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `sitante`;

--
-- Table structure for table `dasar_surat`
--

DROP TABLE IF EXISTS `dasar_surat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dasar_surat` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nomor` tinyint(3) unsigned NOT NULL COMMENT 'Urutan nomor dasar (1, 2, 3, ...)',
  `isi` text NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dasar_surat`
--

LOCK TABLES `dasar_surat` WRITE;
/*!40000 ALTER TABLE `dasar_surat` DISABLE KEYS */;
/*!40000 ALTER TABLE `dasar_surat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kode_rekening`
--

DROP TABLE IF EXISTS `kode_rekening`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kode_rekening` (
  `id_rekening` int(10) NOT NULL AUTO_INCREMENT,
  `nama_rekening` varchar(100) NOT NULL,
  `no_rekening` varchar(100) NOT NULL,
  `bidang` varchar(255) DEFAULT NULL,
  `sub_kegiatan` text DEFAULT NULL,
  PRIMARY KEY (`id_rekening`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kode_rekening`
--

LOCK TABLES `kode_rekening` WRITE;
/*!40000 ALTER TABLE `kode_rekening` DISABLE KEYS */;
INSERT INTO `kode_rekening` VALUES (1,'(SEKRETARIAT) Rutin','2.16.01.2.06.0009.5.1.02.04.001.00001',NULL,NULL),(2,'(PERSKI) INSAN SPPD','2.21.02.2.01.0007.5.1.02.04.001.00001','Persandian dan Keamanan Informasi','INSAN'),(3,'(PERSKI) JKS SPPD','2.21.02.2.02.0002.5.1.02.04.001.00001',NULL,NULL),(4,'(PERSKI) Steril SPPD','2.21.02.2.01.0005.5.1.02.04.001.00001',NULL,NULL);
/*!40000 ALTER TABLE `kode_rekening` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_reads`
--

DROP TABLE IF EXISTS `notification_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_reads` (
  `user_id` int(10) unsigned NOT NULL,
  `notification_id` int(10) unsigned NOT NULL,
  `read_at` datetime NOT NULL DEFAULT '2026-04-30 07:42:29',
  PRIMARY KEY (`user_id`,`notification_id`),
  KEY `notification_id` (`notification_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_reads`
--

LOCK TABLES `notification_reads` WRITE;
/*!40000 ALTER TABLE `notification_reads` DISABLE KEYS */;
INSERT INTO `notification_reads` VALUES (2,2,'2026-04-30 07:43:16'),(2,3,'2026-04-30 07:43:16'),(2,4,'2026-04-30 07:43:16');
/*!40000 ALTER TABLE `notification_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(200) NOT NULL,
  `pesan` text NOT NULL,
  `tipe` enum('info','success','warning','danger') NOT NULL DEFAULT 'info',
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` varchar(100) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'HAllo','Untuk penambahan pengurangan dan penyesuaian data silahkan hubungi administator (bidang persandian dan keamanan informasi)','warning',1,'admin','2026-04-30 07:38:25','2026-05-12 01:19:08');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paraf_hirarki`
--

DROP TABLE IF EXISTS `paraf_hirarki`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paraf_hirarki` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nomor` tinyint(3) unsigned NOT NULL COMMENT 'Urutan baris paraf hirarki (1, 2, 3)',
  `label` varchar(255) NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paraf_hirarki`
--

LOCK TABLES `paraf_hirarki` WRITE;
/*!40000 ALTER TABLE `paraf_hirarki` DISABLE KEYS */;
INSERT INTO `paraf_hirarki` VALUES (1,1,'Sekretaris Dinas','2026-05-04 07:56:57'),(2,2,'Kepala Bidang Persandian dan KI','2026-05-04 07:56:57'),(3,3,'Pelaksana','2026-05-04 07:56:57'),(4,4,'Kepala Dinas','2026-05-04 07:56:57'),(5,5,'Kasubag Umum dan Kepegawaian','2026-05-04 07:56:57');
/*!40000 ALTER TABLE `paraf_hirarki` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pegawai`
--

DROP TABLE IF EXISTS `pegawai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pegawai` (
  `nip` varchar(30) NOT NULL,
  `nama` varchar(150) DEFAULT NULL,
  `lahir` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `pangkat` varchar(100) DEFAULT NULL,
  `tingkat` varchar(10) DEFAULT NULL,
  `jabatan` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`nip`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pegawai`
--

LOCK TABLES `pegawai` WRITE;
/*!40000 ALTER TABLE `pegawai` DISABLE KEYS */;
/*!40000 ALTER TABLE `pegawai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturan_perjadin`
--

DROP TABLE IF EXISTS `pengaturan_perjadin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaturan_perjadin` (
  `kunci` varchar(100) NOT NULL,
  `nilai` int(11) NOT NULL DEFAULT 0,
  `label` varchar(200) NOT NULL,
  `grup` enum('uang_harian','bbm','penginapan','tarif_provinsi') NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`kunci`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan_perjadin`
--

LOCK TABLES `pengaturan_perjadin` WRITE;
/*!40000 ALTER TABLE `pengaturan_perjadin` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengaturan_perjadin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_logs`
--

DROP TABLE IF EXISTS `surat_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat_logs` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `jenis_surat` varchar(50) DEFAULT 'Surat Dinas',
  `nomor` varchar(100) DEFAULT NULL,
  `tanggal` varchar(50) DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `nip` varchar(50) DEFAULT NULL,
  `pangkat` varchar(100) DEFAULT NULL,
  `tingkat` varchar(50) DEFAULT NULL,
  `nip_pengikut_1` varchar(20) DEFAULT NULL,
  `nip_pengikut_2` varchar(20) DEFAULT NULL,
  `nip_pengikut_3` varchar(20) DEFAULT NULL,
  `jabatan` varchar(255) DEFAULT NULL,
  `asal` text DEFAULT NULL,
  `tujuan` text DEFAULT NULL,
  `perihal` text DEFAULT NULL,
  `bulan` varchar(50) DEFAULT NULL,
  `plat` varchar(100) DEFAULT NULL,
  `alat` varchar(100) DEFAULT NULL,
  `lama` varchar(50) DEFAULT NULL,
  `berangkat` varchar(100) DEFAULT NULL,
  `kembali` varchar(100) DEFAULT NULL,
  `instansi` varchar(255) DEFAULT NULL,
  `no_rekening` varchar(255) DEFAULT NULL,
  `nama_rekening` varchar(255) DEFAULT NULL,
  `template_choice` varchar(100) DEFAULT NULL,
  `filename` varchar(255) DEFAULT NULL,
  `rincian_filename` varchar(255) DEFAULT NULL,
  `rincian_kategori` varchar(50) DEFAULT NULL,
  `rincian_uang_harian` varchar(100) DEFAULT NULL,
  `rincian_uang_penginapan` varchar(100) DEFAULT NULL,
  `rincian_biaya_transport` varchar(100) DEFAULT NULL,
  `rincian_biaya_lain` varchar(100) DEFAULT NULL,
  `rincian_jumlah_total` varchar(100) DEFAULT NULL,
  `rincian_terbilang` text DEFAULT NULL,
  `kwitansi_filename` varchar(255) DEFAULT NULL,
  `notadinas_filename` varchar(255) DEFAULT NULL,
  `user` varchar(100) DEFAULT NULL,
  `unit_kerja` varchar(200) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_logs`
--

LOCK TABLES `surat_logs` WRITE;
/*!40000 ALTER TABLE `surat_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama` varchar(200) NOT NULL,
  `unit_kerja` varchar(200) DEFAULT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$onWSepUK.Hadz3iiS6hDR.K/Cbo1c21rpsgohJFnbeReQxyxeJtIy','Administrator','DISKOMINFO SP','admin','2026-04-15 04:05:19','2026-05-04 07:48:59'),(2,'user','$2y$10$SJta6RALmHFLhjIng/76guJV.typIj7dr0t05s.JgR8JedV7Ukyly','User Biasa','Persandian dan Keamanan Informasi','user','2026-04-15 04:05:19','2026-04-15 07:04:40'),(3,'Rani','$2y$10$HDos85HPeMCBIxncQGJmrODfq/B3qr6ld2U4zzGy6baMMAjs9k0VS','Dony Hartadi, S. Kom.','sekretariat diskominfo','user','2026-04-15 07:04:19','2026-04-15 07:04:19');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-12 10:45:53
